<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>02_jsp</display-name>

	<context-param>
		<description>초기파라미터연습</description>
		<param-name>name</param-name>
		<param-value>홍길동</param-value>
	</context-param>


	<context-param>
		<description>초기파라미터연습</description>
		<param-name>tel</param-name>
		<param-value>010-1111-1111</param-value>
	</context-param>
	
	<context-param>
		<description>초기파라미터연습</description>
		<param-name>addr</param-name>
		<param-value>서울 구로구</param-value>
	</context-param>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>