<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>01_servlet</display-name>
  <servlet>
    <description>설명</description>
    <servlet-name>ServletTest01</servlet-name>
    <servlet-class>ServletTest01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTest01</servlet-name>
    <url-pattern>/ServletTest01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>설명</description>
    <servlet-name>ServletTest02</servlet-name>
    <servlet-class>ServletTest02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTest02</servlet-name>
    <url-pattern>/ServletTest02</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>